* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 50%;
  height: 70vh;
  border-radius: 15px;
  background: rgb(99, 99, 99);
  margin-top: 15vh;
}
h1 {
  width: 100%;
  float: left;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2vh;
  text-transform: uppercase;
  color: #333;
}
p {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 2vh;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}
button {
  width: 20%;
  height: 5vh;
  float: left;
  margin-left: 40%;
  margin-top: 2vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: red;
  font-weight: bold;
  border-radius: 10px;
}
